---
layout: page
title: About me

use-site-title: false
---

<p>
I'm currently an independent researcher working on the evolution of <a href="https://kunalrelia.github.io/DRU/" target="_blank">DRU - DiRe Research Universe </a>!
</p>

<!--
<p>
I'm <i>currently</i> an independent researcher working on the evolution of <a href="https://kunalrelia.github.io/DRU/" target="_blank">DRU - DiRe Research Universe </a>!
</p>

<h4>
Learning Stages:
</h4>

<ul>
  <li> 16 formative years from S.N. Kansagra School (a part of <a href="https://www.tges.org" target="_blank">TGES</a>), India.</li>
  <li> Bachelor of Engineering in Computer Engineering from <a href="https://vvpedulink.ac.in" target="_blank">VVP Engineering College</a>.</li>
  <li> Master of Science in Computer Science and Engineering from New York University (Tandon), USA.</li>
  <li> Ph.D. in <a href="https://engineering.nyu.edu/academics/departments/computer-science-and-engineering" target="_blank"> CSE from NYU Tandon </a> under transformative <a href="http://stoyanovich.org", target="_blank">Prof. Julia Stoyanovich</a>. Also, fortunate to have:</li> 
  <ul>
    <li>worked under <a href="https://rumichunara.github.io", target="_blank">Prof. Rumi Chunara</a>.</li>
    <li>attended courses (e.g., <a href="https://cs.nyu.edu/~khot/", target="_blank">Prof. Subhash Khot's</a> Fall 2019 & Spring 2020).</li>
  </ul>
  <li> What can be next?
</ul>

<!--
<h4>
Education:
</h4>

<ul>
  <li> 16 formative years from S.N. Kansagra School (a part of <a href="https://www.tges.org" target="_blank">TGES</a>) in India.</li>
  <li> Bachelor of Engineering in Computer Engineering from <a href="https://vvpedulink.ac.in" target="_blank">VVP Engineering College</a>.</li>
  <li> Master of Science in Computer Science and Engineering from New York University (Tandon), USA.</li>
  <li> Ph.D. in <a href="https://engineering.nyu.edu/academics/departments/computer-science-and-engineering" target="_blank"> CSE from NYU Tandon </a> under transformative <a href="http://stoyanovich.org", target="_blank">Prof. Julia Stoyanovich</a>. Also, fortunate to have worked under <a href="https://rumichunara.github.io", target="_blank">Prof. Rumi Chunara</a>.</li> 
</ul>

<!--
<p>
(November 24, 2022) The website is undergoing some textual overhaul. Please stay tuned for the updated version!
</p>

<p>	
Meanwhile, some trivial and not-so-trivial information that may be of interest:
</p>

<ul>
  <li>I'm currently an independent researcher based in India</li>
  <li>Peek into <a href="https://kunalrelia.github.io/DRU/" target="_blank">DRU - DiRe Research Universe </a></li>
  <li>Take a look at a (probably outdated) list of previous <a href="https://kunalrelia.github.io/publications/" target="_blank">publications</a></li>
</ul>

<!--

<p>	
Meanwhile, please take a look at a (probably outdated) list of previous <a href="https://kunalrelia.github.io/publications/" target="_blank">publications</a>.
</p>



subtitle: Ph.D. Candidate and Research Assistant at New York University
<p>
Currently, I’m a Ph.D. candidate in <a href="https://engineering.nyu.edu/academics/departments/computer-science-and-engineering" target="_blank">Computer Science and Engineering</a> department at <a href="https://engineering.nyu.edu" target="_blank">NYU Tandon School of Engineering</a>, under the supervision of <a href="http://stoyanovich.org", target="_blank">Prof. Julia Stoyanovich</a>. 
</p>

<p>
I work to algorithmically and empirically assess the performance of computing a winning committee in multiwinner elections while ensuring diversity among the selected candidates and representation of voters. The main aim of my work is to develop a framework that unifies preferences, multiwinnwer voting rules, outcomes, contextual information, and diversity and representation.
</p>

<p>
Specific details on the research projects I currently work on or have previously worked on can be found <a href="https://kunalrelia.github.io/ResearchProjects/" target="_blank">here</a>. Also, you can check out my <a href="https://kunalrelia.github.io/CV.html" target="_blank">CV</a> for more details or take a look at previous <a href="https://kunalrelia.github.io/publications/" target="_blank">publications</a>.
</p>

<h4>
Recent News:
</h4>
<ul>
  <li>Jul 2021: DiRe Committee <a href="https://arxiv.org/pdf/2107.07356.pdf" target="_blank">pre-print</a> is on arXiv (<a href="https://twitter.com/arXiv_Daily/status/1416203271551610883" target="_blank">featured</a> as one of the most popular research articles posted on arXiv.org for that week)</li>
  <li>Jun 2021: Presented DiRe Committee poster at the COMSOC Workshop (<a href="https://www.youtube.com/watch?v=MNqcx7sJtzo" target="_blank">video</a>)</li>
  <li>Apr 2021: Introduced the idea of "The Five Ws of Fairness in Multiwinner Elections" at the International COMSOC Seminar Series (<a href="https://uva-live.zoom.us/rec/play/vAQ0G4WtogmEznf1v6i4O0x5uPu1zVmqorszVeUmGLKhwtuGZVjxkKEh9MaZVeb6CWT54H8euinST9Ms.7_Kg68w8228678fZ?continueMode=true" target="_blank">video</a> - jump to 53:00)</li>
  <li>Mar 2021: Algorithmic Techniques paper accepted at the ACM/IMS Transactions on Data Science</li>
  <li>Oct 2020: Excited to be invited to submit an NSF proposal</li>
 
</ul>
-->
<!--
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
-->
